body {
    margin: 0;
    height: 100%;
    background: radial-gradient(circle, #263135 0%, #20292c 100%);
    font-family: 'Josefin Sans', sans-serif;
} 

a{
    all: unset;
}

/* BARRA DE NAVEGACION */

.navegacion{
    color: white;
    text-decoration: none;
}

.navegacion:hover, .af:hover {
    color: #88a6b9;
    transition: .3s;
    transform: scale(1.05);
    cursor: pointer;
}

.navegacion, .af{
    transition: .3s;
}

.barraNavegacion {
    height: 5em;
    width: 100%;
    background-color: #303e42;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraIzquierda{
    margin: 2em;
}

.barraDerecha{
    width: 20em;
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* TITULO PAGINA */

.tituloPagina{
    height: 7em;
    width: 100%;
    margin-top: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo{
    color: white;
    font-size: xx-large;
}




/* Seccion principal */

p{
    color: white;
}

section{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#me{
    margin-top: 3em;
    margin-bottom: 4em;
    height: 20em;
    width: 30em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#ubi , #tlf, #email{
    color: white;
    font-size: x-large;
}

.baseFormulario{
    margin-bottom: 4em;
    border: 0.14em solid #3d4d52;
    height: 27em;
    width: 30em;
    border-radius: 0.2em;
}

#form{
    color: white;
    height: 27em;
    width: 30em;
    transform: scale(0.95);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fondoVacio{
    background-color:#303e42;
    width: 30em;
    height: 27em;
    opacity: 0.7;
    position: absolute;
    border-radius: 0.2em;
}

button{
    all: unset;
    transition: .3s;
    cursor: pointer;
    border: 0.14em solid #3d4d52;
    background-color:#303e42;
    padding: 1em;
    border-radius: 0.2em;
}

button:hover{
    color: #88a6b9;
    transition: .3s;
    transform: scale(1.05);
}

/* FOOTER */

footer{
    margin-bottom: 1em;
    width: 100%;
    text-align: center;

    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github, .linkedin {
    margin: 1em;
    transition: .6s;
}

.github:hover, .linkedin:hover {
    transform: scale(1.2);
    transition: .6s;
    cursor: pointer;
}

#linkedinIMG , #githubIMG {
    color: white;
    font-size: x-large;
}

#linkedinIMG:hover , #githubIMG:hover {
    color: #88a6b9;
    transition: .3s;
    transform: scale(1.05);
}