body {
    margin: 0;
    height: 100%;
    background: radial-gradient(circle, #263135 0%, #20292c 100%);
    font-family: 'Josefin Sans', sans-serif;
} 

a{
    all: unset;
}
 
p{
    color: white;
    margin: .5em;
    transition-duration: 1s;
}

/* BARRA DE NAVEGACION */

.navegacion{
    color: white;
    text-decoration: none;
    position: relative;
}

.navegacion:hover, .af:hover  {
    color: #88a6b9;
    transition: .3s;
    transform: scale(1.05);
    cursor: pointer;
}

.navegacion, .af{
    transition: .3s;
}

.barraNavegacion {
    height: 5em;
    width: 100%;
    background-color: #303e42;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraIzquierda{
    margin: 2em;
}

.barraDerecha{
    width: 20em;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SECCION CENTRAL */


section{
    position: fixed;
    height:100%;
    width: 100%;

    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionIndex {
    width:100%;
    height:100%;

    margin-bottom: 2em;
    transition-duration: 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenFondo {
    width:100%;
    height:100%;
    position: absolute;
    border-radius: 0.2em;
}

.fondo{
    transition-duration: 1s;
    background-color:#303e42;
    width: 100%;
    height:100%;
    opacity: 0.9;
    position: absolute;
    border-radius: 0.2em;
}
  
.contenedorTexto{
    position: relative;
    width:100% ;
    height:100%;
    border-radius: 0.2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hello {
    font-size: 4em;
}

.seccionIndex:hover {
    cursor: pointer;
    transition-duration: 1s;
}

.seccionIndex:hover .fondo{
    opacity: 0.5;
    transition-duration: 1s;
}

.seccionIndex:hover  .barraNavegacion{
    background-color: unset;
}

.seccionIndex:hover p{
    transform: scale(1.3);
    transition-duration: 1s;
}

@media only screen and (max-width: 40em) {
    .hello {
        font-size: 3em;
    }
}    


/* FOOTER */

/* De momento la pagina de inicio no tendrá footer

footer{
    position: relative;
    margin-bottom: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.github, .linkedin {
    margin: 1em;
    transition: .6s;
}

.github:hover, .linkedin:hover {
    transform: scale(1.2);
    transition: .6s;
    cursor: pointer;
}

#linkedinIMG , #githubIMG {
    color: white;
    font-size: X-large;
}

#linkedinIMG:hover , #githubIMG:hover {
    color: #88a6b9;
    transition: .3s;
    transform: scale(1.05);
}

*/

