body {
    margin: 0;
    background-color: rgb(58, 56, 56);
} 


/* BARRA DE NAVEGACION */

a{
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
}

.barraNavegacion {
    height: 5em;
    width: 100%;
    background-color: #f0e9e2;
    opacity: 0.5;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraIzquierda{
    margin: 2em;
}

.barraDerecha{
    width: 20em;
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github, .linkedin {
    margin: 1em;
}

.github:hover, .linkedin:hover {
    transform: scale(1.2);
}




/* FOOTER */

footer{
    width: 100%;
    bottom: 0;
    position: absolute;

    display: flex;
    justify-content: center;
}