#fondo {
    margin: 0;
    background-color:#b6bbb9;

} 


/* BARRA DE NAVEGACION */

.navegacion{
    color: black;
    text-decoration: none;
}

.navegacion:hover {
    font-weight: bolder;
}

.barraNavegacion {
    height: 5em;
    width: 100%;
    background-color:  #DBD1C5;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraIzquierda{
    margin: 2em;
}

.barraDerecha{
    width: 20em;
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github, .linkedin {
    margin: 1em;
}

.github:hover, .linkedin:hover {
    transform: scale(1.2);
}

/* Seccion principal */

section{
    width: 100%;
    height: 35em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta{
    width: 18em;
    height: 22em;
    background-color: #DBD1C5;
    border: 0.1em solid black;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imagenProyecto{
    border: 0.05em solid black;
    margin: .6em;
}

p{
    text-align: center;
}

.coomingSoon{
    width: 13em;
    height: 7.5em;
    background-color: rgb(147, 147, 153);
    border: 0.05em solid black;
    margin: .6em;
}

/* FOOTER */

footer{
    width: 100%;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
}